@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Employee Management Application</h1>
<p>This is the main page of the application. You can navigate to the Employee section to manage employees.</p>

<a href="@Url.Action("Index", "Employee")" class="btn btn-primary">Go to Employees</a>
